body {
  font-family: "Vazirmatn", sans-serif;
  background: #20232a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background: #282c34;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  padding: 20px;
  width: 300px;
}

#display {
  width: 100%;
  height: 60px;
  background: #fff;
  border: none;
  text-align: right;
  padding: 10px;
  font-size: 24px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  font-size: 20px;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
  background: #33ca6d;
  color: #912f65;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #9c248c;
}

.operator {
  background: #f39c12;
  color: #fff;
}

.operator:hover {
  background: #3f9e32;
}

.clear {
  background: #3c9e23;
  color: #fff;
}

.clear:hover {
  background: #46806a;
}
